
@font-face {
  font-family: 'describe';
  src: url("../asset/FZY1JW.TTF");
}
.html_wp{
  //width: 80%;
  //margin: 0 auto;
  padding: 50px 10%;
  background: url("../asset/bc.jpg") top/cover repeat-y;
  .enter{
    font-size: 32px;
    background-color: orange;
    border: solid 4px black;
    color: black;
  }
  .describe_wp{
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 30px 0;
    & img{
      //width: 200px;
    }
    & .describe{
      font-family: describe,sans-serif;
      font-size: 48px;
    }
    & .describe_content{
      margin-top: 20px;
      font-family: "Microsoft JhengHei Light",sans-serif;
      font-size: 20px;

    }
    & .screenShot{
      border-radius: 5px;
    }

  }

  //background-color: #76abe2;
}


