@font-face {
    font-family: 'iconfont';  /* project id 1380631 */
    src: url('//at.alicdn.com/t/font_1380631_5rpzntknrda.eot');
    src: url('//at.alicdn.com/t/font_1380631_5rpzntknrda.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1380631_5rpzntknrda.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1380631_5rpzntknrda.woff') format('woff'),
    url('//at.alicdn.com/t/font_1380631_5rpzntknrda.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1380631_5rpzntknrda.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:24px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.iconhome:before{content:'\e619'}
.iconhtml:before{content:'\e60b'}
.iconcss:before{content:'\e618'}
.icondiscuss:before{content:'\e876'}

/*电脑/手机端*/
.iconpc:before{content: '\e641'}
.iconphone:before{content: '\e614'}

/*字形*/
.iconuploadfont:before{content: '\e6d2'}

.iconbold:before{content:'\e617'}
.iconlighter:before{content:'\e606'}
.iconitalic:before{content:'\e73d'}
.iconunderline:before{content:'\e605'}
.iconlinethrough:before{content:'\e6d0'}
.iconoverline:before{content:'\e68b'}
.iconsub:before{content:'\e642'}
.iconsup:before{content:'\e63f'}

/*颜色*/
.iconcolor:before{content: '\e64c'}
.iconbackgroundcolor:before{content:'\e640'}

/*标签*/
.icondiv:before{content:'\e72a'}
.iconimg:before{content:'\e60d'}
.icontext:before{content:'\e883'}
.iconlist:before{content:'\e659'}
.icontable:before{content:'\e607'}
.icontbody:before{content:'\e609'}
.icontr:before{content:'\e68e'}
.iconth:before{content:'\e613'}
.icontd:before{content:'\e629'}
.iconcanvas:before{content: '\e668'}
.iconfavorite:before{content:'\e647'}
.iconp:before{content:'\e64e'}
.iconpre:before{content:'\e61f'}
.icona:before{content:'\e6d1'}
.iconcode:before{content: '\e6df'}
.iconspan:before{content: '\e601'}
.iconbutton:before{content:'\e608'}
.iconinput:before{content: '\e67e'}
.iconpassword:before{content:'\e604'}
.iconnumber:before{content: '\e626'}
.iconcheckbox:before{content:'\e61d'}
.iconradio:before{content: '\e732'}
.iconpseudoelement:before{content:'\e683'}
.iconh:before{content:'\e603'}
.iconh1:before{content:'\e60f'}
.iconh2:before{content:'\e610'}
.iconh3:before{content:'\e612'}
.iconh4:before{content:'\e611'}
.iconh5:before{content:'\e60c'}
.iconh6:before{content:'\e60e'}
/*箭头*/
.icondownarrow:before{content:'\e6b4'}
.iconrightarrow:before{content:'\e602'}

/*图片*/
.iconzip:before{content: '\e6de'}
.iconnetworkimg:before{content: '\e65d'}
.iconuploadimg:before{content:'\e753'}

/*右键菜单*/
.iconnew:before{content:'\e615'}
.iconinsert:before{content:'\e65a'}
.iconcopy:before{content:'\e6b1'}
.iconpaste:before{content:'\e69c'}
.iconcut:before{content:'\e65e'}
.iconaddfavorite:before{content:'\e669'}
.iconrename:before{content: '\e666'}

/*对错*/
.iconcurrent:before{content: '\e621'}
.icondelete:before{content:'\e7a5'}

.iconhelp:before{content:'\e637'}
.iconadd:before{content:'\e600'}
.iconanimation:before{content:'\e633'}

.iconiphone5:before{content:'\e69d'}
.iconiphone6:before{content:'\e616'}
.iconiphone7:before{content:'\e60a'}
.iconipad:before{content:'\e702'}

.iconshow:before{content:'\e65b'}
.iconoperation:before{content:'\e61b'}
.iconcodebox:before{content:'\e648'}

.iconreload:before{content:'\e61c'}

.iconnocsscolor:before{content:'\e646'}
.iconnocssborder:before{content:'\e61a'}
.iconnocssbackgroundcolor:before{content:'\e643'}
.iconnocsspadding:before{content:'\e620'}
.iconnocsstextshadow:before{content:'\e61e'}
.iconnocssfontsize:before{content:'\e66f'}
.iconnocssboxshadow:before{content:'\e649'}
.iconnocssfontstyle:before{content:'\e622'}
.iconnocsstransform:before{content:'\e698'}
.iconnocssfilter:before{content:'\e62d'}
.iconnocssoutline:before{content:'\e628'}

.iconsolid:before{content:'\e625'}
.icondashed:before{content:'\e63c'}
.icondotted:before{content:'\e624'}
.icondouble:before{content:'\e627'}
.iconinset:before{content:'\e7b4'}
.iconoutset:before{content:'\e7b5'}
.icongroove:before{content:'\e67b'}
.iconridge:before{content:'\e623'}

.icontranslate:before{content:'\e62e'}
.iconscale:before{content:'\e6cd'}
.iconrotate:before{content:'\e671'}
.iconskew:before{content:'\e62f'}

.iconloginusername:before{content:'\e62c'}
.iconloginpassword:before{content:'\e62a'}

.iconqq:before{content:'\e62b'}
.icongithub:before{content:'\e64a'}

.iconlook:before{content:'\e630'}
